.head {
  background-color: #333;
  /* width: 10000px; */
  height: 40px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  background-color: grey;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.pagination button:hover {
  background-color: #0056b3;
  color:azure
}

.loadProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.blank {
  margin: 10px;
  width: 300px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.blank:hover {
  transform: scale(1.05);
}

.btn {
  text-decoration: none;
  color: #333;
  display: block;
}

.cards {
  padding: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #dee2e6;
  border-radius: 8px 8px 0 0;
}

.title {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.info {
  color: #555;
}

.price {
  color: #e44d26;
  font-weight: bold;
  margin-top: 10px;
}
.search-div {
  position: relative;
  max-width: 400px;
  margin: 20px 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
*/ .label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

#searchInput {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sbutton {
  padding: 14px 14px;
  background-color: grey;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sbutton:hover {
  background-color: #0056b3;
}

.fa-search {
  margin-right: 5px;
}

.row {
  margin: 10px;
}

#select_option {
  padding: 8px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container select {
  width: 430px;
  margin-left: 10px;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
